.container-produtos { 
    display: flex; 
    flex-wrap: wrap; 
}
.card-produto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
}
.card-produto img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}