<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a Senha</title>
</head>
<body>
    <h1>Esqueci minha senha</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('home.esqueci_senha') }}" method="POST">
        <div>
            <label for="email"><b>EMAIL:</b></label>
            <input 
                type="email" 
                name="email" 
                required
            >
        </div>
        <br>
        <div>
            <label for="cpf_cnpj"><b>CPF/CNPJ:</b></label>
            <input 
                type="text" 
                name="cpf_cnpj" 
                required
            >
        </div>
        <br>
        
        <button type="submit">CONFIRMAR</button>
        
        <a href="{{ url_for('home.login_feirante') }}">
            <button type="button">CANCELAR</button>
        </a>
    </form>
</body>
</html>