<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios (para moderadores)</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Tipo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {%for usuario in usuarios%}
                <tr>
                    <th scope="row">{{ usuario.id}}</th>
                    <td>{{ usuario.nome}}</td>
                    <td>{{ usuario.email}}</td>
                    <td>{{ usuario.tipo}}</td>
                    <td>
                        <button>Editar</button>
                        <button>Deletar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>